<!doctype html>
<title>Mistype — track mistakes and mistypes on your site</title>
<meta charset="utf-8">
<meta description="Mistype is a webapp which lets users notify you about mistakes in your content">

<style>
</style>
<h1>Mistype</h1>
<p>Mistype is a webapp to help you and your users. How many times did you notice mistake or mistype on site and couldn't inform author, because you didn't know <em>how</em>?
<p>But if author had integrated Mistype, you could just select mistyped text and hit Ctrl+Enter. That simple.
<p>How to enable Mistype on your site? Include <code>&lt;script src="//mistype.co/js" data-typo data-owner="yourId">&lt/script></code> and you're dnoe. Oh, did you notice mistype in the last sentence. Try it!
<script src="./js" data-typo data-owner="tim"></script>